USE [SSIS_HUBRendicion]
GO
/****** Object:  StoredProcedure [rendicion].[SP_GENERA_ARCHIVO_DINAMICOR4]    Script Date: 2/8/2021 10:14:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



ALTER PROC [rendicion].[SP_GENERA_ARCHIVO_DINAMICOR4] (
    @COD_EMPRESA VARCHAR(50), @CONVENIO VARCHAR(20)
)
AS
BEGIN

    DECLARE @sql NVARCHAR(MAX);
	DECLARE @FECHA_PROCESO NVARCHAR(8);
	--DECLARE @FECHA_EMISION NVARCHAR(8);
	DECLARE @sql5 NVARCHAR(MAX);
	DECLARE @CAMPOS_CAB NVARCHAR(MAX);
	DECLARE @CAMPOS_DET NVARCHAR(MAX);
	DECLARE @CAMPOS_TOT NVARCHAR(MAX);
	DECLARE @TIPO_GENERACION NVARCHAR(MAX);
    DECLARE @TIPO_PROCESO NVARCHAR(MAX);

	DECLARE @TOTAL_REGISTROS INTEGER;
	DECLARE @TOTAL_REGISTROS_FORMAT VARCHAR(30);
	DECLARE @TOTAL_IMPORTE DECIMAL(20,2);
	DECLARE @TOTAL_IMPORTE_FORMAT VARCHAR(30);
	DECLARE @TOTAL_IMPORTE_SOLES DECIMAL(20,2);
	DECLARE @TOTAL_IMPORTE_DOLARES DECIMAL(20,2);

	DECLARE @TOTAL_IMPORTE_SR DECIMAL(20,2);
	DECLARE @TOTAL_IMPORTE_SOLES_SR DECIMAL(20,2);
	DECLARE @TOTAL_IMPORTE_DOLARES_SR DECIMAL(20,2);
	--TRUNCATE TABLE RENDICION.T$_OU_OUT;

	-- OBTIENE TIPO DE PROCESOS
	SELECT @TIPO_PROCESO = PARAMETRO FROM rendicion.CONFIGURACION WHERE CODIGO_PARAMETRO='TIPO_PROCESO'
    -- OBTIENE FECHA DE PROCESO
	IF @TIPO_PROCESO = 'R'
	BEGIN
		SELECT @FECHA_PROCESO = PARAMETRO FROM RENDICION.CONFIGURACION WHERE CODIGO_PARAMETRO='FECHA_PROCESO';
	END ELSE
	BEGIN
		SELECT @FECHA_PROCESO = FORMAT(GETDATE(),'yyyyMMdd');
	END;
	--print @FECHA_PROCESO;
	-- OBTIENE TIPO GENERACION DE SALIDA
	SELECT @TIPO_GENERACION = PARAMETRO FROM RENDICION.CONFIGURACION_EMPRESA WHERE CODIGO_EMPRESA=@COD_EMPRESA  AND CONVENIO IN (@CONVENIO)  AND CODIGO_PARAMETRO='TIPO_GENERACION';
	-- OBTIENE FORMATO DE CABECERA A EXPORTAR
	SELECT @CAMPOS_CAB = PARAMETRO FROM RENDICION.CONFIGURACION_EMPRESA WHERE CODIGO_EMPRESA=@COD_EMPRESA  AND CONVENIO IN (@CONVENIO) AND CODIGO_PARAMETRO='FORMATO_CAB';
	-- OBTIENE FORMATO DE CAMPOS A EXPORTAR
	SELECT @CAMPOS_DET = PARAMETRO FROM RENDICION.CONFIGURACION_EMPRESA WHERE CODIGO_EMPRESA=@COD_EMPRESA  AND CONVENIO IN (@CONVENIO) AND CODIGO_PARAMETRO='FORMATO_DET';
	-- OBTIENE FORMATO DE TOTALES A EXPORTAR
	SELECT @CAMPOS_TOT = PARAMETRO FROM RENDICION.CONFIGURACION_EMPRESA WHERE CODIGO_EMPRESA=@COD_EMPRESA  AND CONVENIO IN (@CONVENIO) AND CODIGO_PARAMETRO='FORMATO_TOT';

	-- OBTIENE TOTAL DE REGISTROS CONCILIADOS
	SELECT @TOTAL_REGISTROS = COUNT(1) FROM RENDICION.T$_PAGOS WHERE DOC_EMP=@COD_EMPRESA AND CONVENIO IN (@CONVENIO);

	--SELECT @TOTAL_REGISTROS_FORMAT = replicate('0', 7 - Len(RTRIM(CONVERT(VARCHAR,COUNT(1)))))+RTRIM(CONVERT(VARCHAR,COUNT(1))) FROM RENDICION.T$_PAGOS WHERE DOC_EMP=@COD_EMPRESA AND CONVENIO IN (@CONVENIO);
	--set @sql5 = 'SELECT COUNT(1) FROM RENDICION.T$_PAGOS WHERE DOC_EMP='+@COD_EMPRESA+' AND CONVENIO IN ('+@CONVENIO+')';
	--print @sql5 
	--OBTIENE FECHA DE EMISION
--	SELECT @FECHA_EMISION = SELECT FechaEmision FROM RENDICION.T$_CONSULTAS_XML,RENDICION.T$_PAGOS  
--	WHERE DOC_EMP=@COD_EMPRESA  AND CONVENIO IN (@CONVENIO);

	-- OBTIENE TOTAL DE IMPORTE CONCILIADO
	SELECT @TOTAL_IMPORTE = ISNULL(SUM(ISNULL(MONTO_PAGADO,0)),0) FROM RENDICION.T$_PAGOS WHERE DOC_EMP=@COD_EMPRESA AND CONVENIO IN (@CONVENIO);
	-- OBTIENE TOTAL DE IMPORTE CONCILIADO EN SOLES
	SELECT @TOTAL_IMPORTE_SOLES = ISNULL(SUM(ISNULL(MONTO_PAGADO,0)),0) FROM RENDICION.T$_PAGOS WHERE DOC_EMP=@COD_EMPRESA AND CONVENIO IN (@CONVENIO) AND MONEDA='SOL'; --AND CONVENIO = @CONVENIO 
	-- OBTIENE TOTAL DE IMPORTE CONCILIADO EN DOLARES
	SELECT @TOTAL_IMPORTE_DOLARES = ISNULL(SUM(ISNULL(MONTO_PAGADO,0)),0) FROM RENDICION.T$_PAGOS WHERE DOC_EMP=@COD_EMPRESA AND CONVENIO IN (@CONVENIO) AND MONEDA<>'SOL'; --AND CONVENIO = @CONVENIO 

	SELECT @TOTAL_IMPORTE_SR = ISNULL(SUM(ISNULL(MONTO_PAGADO_SIN_REDONDEO,0)),0) FROM RENDICION.T$_PAGOS WHERE DOC_EMP=@COD_EMPRESA AND CONVENIO IN (@CONVENIO);
	-- OBTIENE TOTAL DE IMPORTE CONCILIADO EN SOLES
	SELECT @TOTAL_IMPORTE_SOLES_SR = ISNULL(SUM(ISNULL(MONTO_PAGADO_SIN_REDONDEO,0)),0) FROM RENDICION.T$_PAGOS WHERE DOC_EMP=@COD_EMPRESA AND CONVENIO IN (@CONVENIO) AND MONEDA='SOL'; --AND CONVENIO = @CONVENIO 
	-- OBTIENE TOTAL DE IMPORTE CONCILIADO EN DOLARES
	SELECT @TOTAL_IMPORTE_DOLARES_SR = ISNULL(SUM(ISNULL(MONTO_PAGADO_SIN_REDONDEO,0)),0) FROM RENDICION.T$_PAGOS WHERE DOC_EMP=@COD_EMPRESA AND CONVENIO IN (@CONVENIO) AND MONEDA<>'SOL'; --AND CONVENIO = @CONVENIO 

	SET @CAMPOS_CAB =  REPLACE(@CAMPOS_CAB,'<FECHA_PROCESO>',@FECHA_PROCESO);
	SET @CAMPOS_DET =  REPLACE(@CAMPOS_DET,'<FECHA_PROCESO>',@FECHA_PROCESO);
	--SET @CAMPOS_DET =  REPLACE(@CAMPOS_DET,'<FECHA_EMISION>',@FECHA_EMISION);
	SET @CAMPOS_CAB =  REPLACE(@CAMPOS_CAB,'<TOTAL_REGISTROS>',@TOTAL_REGISTROS);
	SET @CAMPOS_DET =  REPLACE(@CAMPOS_DET,'<TOTAL_REGISTROS>',@TOTAL_REGISTROS);
	SET @CAMPOS_CAB =  REPLACE(@CAMPOS_CAB,'<TOTAL_IMPORTE>',@TOTAL_IMPORTE);
	SET @CAMPOS_DET =  REPLACE(@CAMPOS_DET,'<TOTAL_IMPORTE>',@TOTAL_IMPORTE);
	SET @CAMPOS_CAB =  REPLACE(@CAMPOS_CAB,'<TOTAL_IMPORTE_SOLES>',@TOTAL_IMPORTE_SOLES);
	SET @CAMPOS_DET =  REPLACE(@CAMPOS_DET,'<TOTAL_IMPORTE_SOLES>',@TOTAL_IMPORTE_SOLES);
	SET @CAMPOS_CAB =  REPLACE(@CAMPOS_CAB,'<TOTAL_IMPORTE_DOLARES>',@TOTAL_IMPORTE_DOLARES);
	SET @CAMPOS_DET =  REPLACE(@CAMPOS_DET,'<TOTAL_IMPORTE_DOLARES>',@TOTAL_IMPORTE_DOLARES);
	SET @CAMPOS_CAB =  REPLACE(@CAMPOS_CAB,'<RUC_EMPRESA>',@COD_EMPRESA);
	SET @CAMPOS_CAB =  REPLACE(@CAMPOS_CAB,'<CONVENIO>',@CONVENIO);
	SET @sql = '';
	-- GENERA CABECERA
	IF SUBSTRING(@TIPO_GENERACION,1,1)='C'
	BEGIN
		SET @sql = N'INSERT INTO RENDICION.T$_OU_OUT SELECT ' + @CAMPOS_CAB + ' FROM RENDICION.DUAL';
		PRINT @sql;
		EXEC sp_executesql @sql;
	END;
	SET @sql = '';
	-- GENERA DETALLE
	IF SUBSTRING(@TIPO_GENERACION,2,1)='D'
	BEGIN
		SET @sql = N'INSERT INTO RENDICION.T$_OU_OUT SELECT ' + @CAMPOS_DET + ' 
		FROM (SELECT T1.*,T2.MSJE_ENV_550, T2.MSJE_RESP_550, T2.MSJE_ENV_563, T2.MSJE_RESP_563 FROM RENDICION.T$_PAGOS T1 LEFT JOIN RENDICION.T$_EFT_TRAZA_XML T2 ON T2.ID_PAGO = T1.ID_PAGO) PAGO
		LEFT JOIN RENDICION.T$_CONSULTAS CONSULTA ON CONSULTA.ID_CONSULTA = PAGO.ID_CONSULTA
		WHERE PAGO.DOC_EMP = '+@COD_EMPRESA + ' AND PAGO.CONVENIO IN ('+@CONVENIO+' )';
	--	WHERE PAGO.DOC_EMP = '+@COD_EMPRESA;
		PRINT @sql;
		EXEC sp_executesql @sql;
	END;
	SET @sql = '';
	-- GENERA TOTALES
	IF SUBSTRING(@TIPO_GENERACION,2,1)='T'
	BEGIN
		SET @sql = N'INSERT INTO RENDICION.T$_OU_OUT SELECT ' + @CAMPOS_TOT + ' FROM RENDICION.DUAL';
		--PRINT @sql;
		EXEC sp_executesql @sql;
	END;
END;
